

body {
   min-height: 100vh !important;
   max-height: 100vh !important;
}

homepage, home-page {
   overflow: scroll !important;
   height: calc( 100vh - 66px ) !important;
}
homepage::-webkit-scrollbar,
home-page::-webkit-scrollbar {
   width: 0 !important;
   height: 0 !important;
}
