

c1 {
   /* Pale azure */
   --pale-azure: #97dffcff;
   --tropical-indigo: #858ae3ff;
   --iris: #613dc1ff;
   --indigo: #4e148cff;
   --russian-violet: #2c0735ff;
   
   
   
   --light-green: #7cea9cff;
   --turquoise: #55d6beff;
   --denim: #2e5eaaff;
   --ultra-violet: #5b4e77ff;
   --english-violet: #593959ff;


   /* CSS HEX */
--russian-violet: #301a4bff;
--moonstone: #6db1bfff;
--lavender-blush: #ffeaecff;
--salmon-pink: #f39a9dff;
--hunter-green: #3f6c51ff;


/* CSS HEX */
--white: #ffffffff;
--picton-blue: #00a7e1ff;
--rich-black: #00171fff;
--prussian-blue: #003459ff;
--cerulean: #007ea7ff;


/* CSS HEX */
--midnight-blue: #18206fff;
--penn-blue: #17255aff;
--champagne: #f5e2c8ff;
--coral-pink: #d88373ff;
--cornell-red: #bd1e1eff;


/* CSS HEX */
--gunmetal: #012a36ff;
--space-cadet: #29274cff;
--royal-purple: #7e52a0ff;
--lilac: #d295bfff;
--fairy-tale: #e6bccdff;


}