

/* ==[ color palette ]======================== */
:root {
   --whats-appbar: #111b21;
   --whats-body: #222e35;

   --dev-appbar: #181a1b;
   --dev-body: #1e2021;
   --dev-txt: #e9e6e3;
   --dev-btn: #1D169c;
   --dev-lyh: #905;
   --dev-ceo: #27f;
}

